In [148]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
import sqlite3

In [149]:
df = pd.read_csv("hotel_bookings.csv")

In [150]:
#determine the dataset
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB
None

In [151]:
#identifying null values
print(df.isnull().sum())

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [152]:
print(df["country"].dtype)
print(df["agent"].dtype)
print(df["company"].dtype)

object
float64
float64

In [153]:
#filling the null values
df['country'] = df['country'].fillna(df['country'].mode()[0])
df['agent'] = df['agent'].fillna(df['agent'].median())
df['company'] = df['company'].fillna(df['company'].median())
print(df['country'].isnull().sum())
print(df['agent'].isnull().sum())
print(df['company'].isnull().sum())

0
0
0

In [154]:
# convert the date & time features 
df["reservation_status_date"] = pd.to_datetime(df["reservation_status_date"], format="%d-%m-%y")
df["year"] = df["reservation_status_date"].dt.year
df["month"] = df["reservation_status_date"].dt.month
df["day"] = df["reservation_status_date"].dt.day

In [155]:
scaler = StandardScaler()

In [156]:
df["total_nights"] = df["stays_in_week_nights"].astype(int)+df["stays_in_weekend_nights"].astype(int)
df["weekend_stay_ratio"] = df["stays_in_weekend_nights"]/(df["total_nights"] + 1e-5)
df["adr_scaled"]=scaler.fit_transform(df[["adr"]])

In [157]:
df.to_csv("cleaned_hotel_bookings.csv",index=False)

In [158]:
connection = sqlite3.connect("hotel_bookings.db")
df.to_sql("bookings",connection,if_exists="replace", index=False)
connection.close()